# Importing Libraries

In [1]:
import pandas as pd

# Reading csv file

In [2]:
df=pd.read_csv('2022_02_08-02_30_31_AM.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

In [4]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

# Query 1=> Product without Prices

In [5]:
#Query 1 Product without prices
Product_without_prices = df.loc[df['price_string'].isnull()]

In [6]:
Product_without_prices

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

# Product with Prices

In [25]:
Product_with_prices=df.loc[df['price_string'].notnull()]

In [26]:
Product_with_prices

,uuid,price_string,price_string_unf,product_type,level_1,category
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
6,9599f1a9-d406-43eb-89f5-9b1c0af1ac9a,$24.99,NaN,TW9wcyBhbmQgYnJvb21z,TW9w,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729987,e12c3fe8-2987-4e95-93b2-14e173d8028a,$32.99,NaN,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,SGVhbHRo
13729989,544416c3-4845-4427-b27b-d3ca9beca970,$34.00,NaN,U3Vuc2NyZWVu,VmVnYW4gU3Vuc2NyZWVu,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729994,f0ec31d4-3283-4931-af8b-6fb9fdb8b1aa,$86.00,NaN,RmFjaWFsIENsZWFuc2Vycw,TWlsayBDbGVhbnNlcg,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729996,fcaedae7-dc20-4da1-b4ae-77368c973088,$69.99,NaN,Um9vbSBkZWNvcg,UGxhbnRlcnMvVmFzZXM,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
13729999,0f4550de-1f33-48b5-a5ef-fc5e39df208e,$55.00,NaN,TG9hZmVycy8gT3hmb3Jkcw,d29tZW5zIE94Zm9yZHMgYW5kIExvYWZlcnM,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz

# Query 2=>

## Count of products without prices in Each Product Type,Category,Level1

In [27]:
#Count of products without prices in Each Product Type,Category,Level1
count_product_without_prices=Product_without_prices.groupby(['product_type','category','level_1']).size().reset_index(name='count of products')

In [28]:
count_product_without_prices

,product_type,category,level_1,count of products
0,Q0FUIExJVFRFUg,cGV0IHN1cHBsaWVz,Q0FUIExJVFRFUg,30000
1,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,RGFyayBSb2FzdA,20000
2,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,TGlnaHQgUm9hc3Q,10000
3,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,TWVkaXVtIFJvYXN0,20000
4,Q29mZmVlIEZpbHRlcnM,SG91c2Vob2xkIGFuZCBDbGVhbmluZw,UmV1c2FibGUgY29mZmVlIGZpbHRlcg,10000
...,...,...,...,...
493,d29tZW5zIFdhbGxldA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,d29tZW5zIFdhbGxldA,10000
494,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,Q2FyZGlnYW4,30000
495,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,SG9vZGll,20000
496,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,U3dlYXRlcg,20000
497,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,U3dlYXRzaGlydA,20000

## Count of products with prices in Each Product Type,Category,Level1

In [29]:
#Count of products without prices in Each Product Type,Category,Level1
count_product_with_prices=Product_with_prices.groupby(['product_type','category','level_1']).size().reset_index(name='count')

In [30]:
count_product_with_prices

,product_type,category,level_1,count
0,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,RGFyayBSb2FzdA,10000
1,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,TGlnaHQgUm9hc3Q,10000
2,Q29mZmVlIEJlYW5z,Z3JvY2VyaWVz,TWVkaXVtIFJvYXN0,10000
3,Q29uZGl0aW9uZXIgSGFpcg,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,Q29uZGl0aW9uZXI,10000
4,Q29va2luZyBPaWw,Z3JvY2VyaWVz,Q29jb251dCBPaWw,20000
...,...,...,...,...
376,d29tZW5zIE91dGVyd2Vhcg,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,V29tZW5zIFZlc3Q,30000
377,d29tZW5zIFdhbGxldA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,d29tZW5zIFdhbGxldA,20000
378,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,SG9vZGll,10000
379,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,U3dlYXRlcg,10000
380,d29tZW5zIHN3ZWF0ZXJz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,U3dlYXRzaGlydA,10000

# Query 3=>

## Removing $ from price string so as to make it numeric

In [31]:
Product_with_prices['price_string'] = Product_with_prices['price_string'].str.replace('$', '')

C:\Users\dhana\AppData\Local\Temp\ipykernel_22140\1322997318.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Product_with_prices['price_string'] = Product_with_prices['price_string'].str.replace('$', '')
C:\Users\dhana\AppData\Local\Temp\ipykernel_22140\1322997318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Product_with_prices['price_string'] = Product_with_prices['price_string'].str.replace('$', '')

## Again Inserting $ to make all prices with dollar

In [32]:
Product_with_prices['price_string'] ='$'+ Product_with_prices['price_string'].astype(str)

C:\Users\dhana\AppData\Local\Temp\ipykernel_22140\1970486428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Product_with_prices['price_string'] ='$'+ Product_with_prices['price_string'].astype(str)

In [33]:
Product_with_prices['price_string']

2            $19.95
3            $92.00
4            $11.50
6            $24.99
7           $148.00
             ...
13729987     $32.99
13729989     $34.00
13729994     $86.00
13729996     $69.99
13729999     $55.00
Name: price_string, Length: 5510000, dtype: object

## Creating new field value extracted from price_string and saved as float

In [34]:
value=Product_with_prices['price_string'].str.replace('$', '').astype(float)

C:\Users\dhana\AppData\Local\Temp\ipykernel_22140\1980198152.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  value=Product_with_prices['price_string'].str.replace('$', '').astype(float)

In [35]:
value

2            19.95
3            92.00
4            11.50
6            24.99
7           148.00
             ...
13729987     32.99
13729989     34.00
13729994     86.00
13729996     69.99
13729999     55.00
Name: price_string, Length: 5510000, dtype: float64

## Inserting a currency column and value column

In [36]:
Product_with_prices.insert(2, "currency", "$")

In [37]:
Product_with_prices.insert(3, "value", value)

In [38]:
Product_with_prices

,uuid,price_string,currency,value,price_string_unf,product_type,level_1,category
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,$,19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,$,92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,$11.50,$,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
6,9599f1a9-d406-43eb-89f5-9b1c0af1ac9a,$24.99,$,24.99,NaN,TW9wcyBhbmQgYnJvb21z,TW9w,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,$,148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...,...,...
13729987,e12c3fe8-2987-4e95-93b2-14e173d8028a,$32.99,$,32.99,NaN,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,UGxhbnQgYmFzZWQgUHJvdGVpbiBTdXBwbGVtZW50cw,SGVhbHRo
13729989,544416c3-4845-4427-b27b-d3ca9beca970,$34.00,$,34.00,NaN,U3Vuc2NyZWVu,VmVnYW4gU3Vuc2NyZWVu,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729994,f0ec31d4-3283-4931-af8b-6fb9fdb8b1aa,$86.00,$,86.00,NaN,RmFjaWFsIENsZWFuc2Vycw,TWlsayBDbGVhbnNlcg,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
13729996,fcaedae7-dc20-4da1-b4ae-77368c973088,$69.99,$,69.99,NaN,Um9vbSBkZWNvcg,UGxhbnRlcnMvVmFzZXM,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
13729999,0f4550de-1f33-48b5-a5ef-fc5e39df208e,$55.00,$,55.00,NaN,TG9hZmVycy8gT3hmb3Jkcw,d29tZW5zIE94Zm9yZHMgYW5kIExvYWZlcnM,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz

## Query 4 =>